html {
    color: white;
    background-color: black;
}


@media screen and (max-width: 420px) {
    
    #mainImg {
        width: 100%;
    } 

    #logo {
        width: 12%;
        padding-top: 1%;
        padding-left: 1%;
    }

}

h1 {
    font-family: 'Rock Salt', cursive;
    font-size: 3rem;
    text-align: center;
    line-height: 150%;
    margin-top: 3%;
}


form {
    text-align: center;
}

input {
    font-family: 'Ubuntu', sans-serif;
    width: 45%;
}

.attribution {
    font-size: 0.6rem;
}

footer p {
    text-align: center;
    margin-top: 5%;
    font-family: 'Ubuntu', sans-serif;
}

a {
    color: rgba(173, 14, 22, 0.842);
    text-decoration: none;
}

h1 + p {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    margin-top: -5%;
}